/*importation police de caractère*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    background:#DEEBFF;
    }
.container {
    width: 1440px;
    background:#ffffff;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size:1em;
    }
*{
    margin:0;
    }
ul{
    list-style:none; margin-right: 0px;
    padding: 0px;
    }
a {
    outline: none;
    text-decoration: none;
    }
a:link {
    color: #000000;
    }
a:visited {
    color: #000000;
    }

section, header{
    margin-left: 50px; margin-right: 50px;
    }
section img {
    width: 100%;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
    }
h1{
    font-size: 1.5em;
    }
h2{
    font-size: 1.2em;
    }

/*HEADER*/
header{
    height:130px;
    display:flex;
    justify-content:space-between; align-items: center;
    }
.logo{
    height: 40px;
    }

/*NAV*/
nav{
    /*background:green;*/
    height:130px;
    display:flex;
    justify-content: flex-end; align-items: center;
    }
.ulnav{
    display: flex;
    /*justify-content: flex-end;*/
    }
nav a{
    width:150px; height:130px;
    border-top: 5px solid #ffffff;
    display: flex;
    align-items: center; justify-content: center;
    }
nav a:hover{
    color:#0065fc;
    border-top: 5px solid #0065fc;
    }

/*SECTION 1 */    
.section1{
    margin-top: 37px; margin-bottom: 37px;
}
.descsection1{
    margin-top: 10px; margin-bottom: 20px;
    }
.form{
    display:flex;
    justify-content: flex-start;
    }
label{
    display:flex;
    justify-content: center; align-items: center;
    }
.label{
    background: #f2f2f2;
    width:50px; height:50px;
    border-bottom-left-radius: 20px; border-top-left-radius: 20px;
    }
.rechercheville{
    width:230px; height:50px;
    border-top: 2px solid #f2f2f2; border-bottom: 2px solid #f2f2f2; border-right: 0px; border-left: 0px;
    }
.btnrechercher{
    background: #0065fc;
    color:#ffffff;
    width:132px; height:50px;
    border-bottom-right-radius: 20px; border-top-right-radius: 20px;
    border:0px;
}
.filtres{
    margin-top: 32px; margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
.divfiltres{
    margin-left: 11px; margin-right: 11px;
    padding: 10px; padding-left: 0px;
    border-radius: 60px;
    border: 2px solid #f2f2f2;
    }
.divfiltres:hover{
    background: #deebff;
    color:#0065fc;
    }
.divfiltres span{
    background: #deebff;
    border: 2px solid #deebff;
    color:#0065fc;
    border-radius: 60px;
    margin-right: 10px;
    }
.icone{
    padding: 10px;
    }
.iconefam{
    padding: 10px 14px;
    }
.iconerom{
    padding: 10px 12px;
    }
.iconeinfo{
    background: #ffffff;
    border: 1px solid #deebff;
    color:#0065fc;
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 20px;
    }
    

/*SECTION 2 : HEBERGEMENTS*/
.section2{
    display: flex;
    justify-content: space-between;
    }
aside{
    background: #f2f2f2;
    border-radius: 20px;
    }
.aside1{
    width:880px;
    }
/*Hébergements*/
aside h1, .phebergements{
    margin-left:40px; margin-top:45px;
    }
.divheber{
    width:800px; height:430px; margin-left:40px; margin-left:40px; margin-top:20px; margin-bottom:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    }
.divhebergements{
    width:246px; height:200px;
    }
.figboxhebergements{
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 20px #f2f2f2;
    width:100%; height:100%;
    }
.imgboxhebergements{
    border: 4px solid #ffffff;
    width:238px;
    height:60%;
    object-fit: cover;
    }
/*Populaires*/
.aside2{
    width:420px;
    }
.aside2 figcaption{
    position: relative;
    top: -140px;
    left: 150px;
    width: 190px; height:130px;
    }
.fas fa-star{
    color:#0065FC;
    }
.h1populaires{
    margin-left:40px; margin-top:45px;
    }
.divpop{
    width:340px; height:493px; margin-left:40px; margin-left:40px; margin-top:20px; margin-bottom:20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    }
.divpopulaires{
    width:340px; height:143px;
    }
.figboxpopulaires{
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 20px #f2f2f2;
    width:100%; height:100%;
    display:flex;
    flex-direction: row;
    }
.imgboxpopulaires{
    border-top-right-radius: 0px; border-bottom-left-radius: 20px;
    border: 4px solid #ffffff;
    width:38%;
    height:135px;
    object-fit: cover;
    }
.etoiles{
    color:#0065FC;
    display: flex;
    justify-content: flex-start;
    }
.etoilegrise{
    color:#f2f2f2;
    }

/*SECTION 3 : ACTIVITES*/
.section3{
    margin-top: 65px; margin-bottom: 55px;
    }
.divsection3{
    height: 450px;
    display:flex; justify-content: space-between;
    }
.divsection3 div{
    width:302px;
    }
.boxactivites2{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    }
.section3 figure{
    background-color: white;
    margin:0px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px #f2f2f2;
    width: 100%;
    }
figure img{
    object-fit: cover;
    }
.figboxactivites1{
    height: 100%;
    }
.figboxactivites2{
    height: 53%;
    }
.figboxactivites3{
    height: 37%;
    }
.figboxactivites4{
    height: 44%;
    }
.figboxactivites5{
    height:47%;
    }
.imgboxactivites{
    height:87.5%;
    }
.imgboxactivites2{
    height:76.7%;
    }
.imgboxactivites3{
    height:66%;
    }
.imgboxactivites4{
    height:71.2%;
    }
.imgboxactivites5{
    height:73.7%;
    }

/*FOOTER*/
footer{
    background:#f2f2f2;
    display: flex;
    justify-content: flex-start;
    /*margin-top: 55px;*/
    }
footer h2{
    padding: 0px; margin:0px;
    }
footer div{
    width:350px; margin:50px; padding: 0px;  
    }